.graphic {
  margin: 0 auto;
}

.label {
  font-family: 'Montserrat Medium';
  font-size: 10px;
  line-height: 9px;

  letter-spacing: 0.02em;

  color: var(--text-primary-color);
}

.labelNumber {
  font-family: 'Montserrat Medium';
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  margin-bottom: 9px;

  color: var(--text-primary-color);
}

.square {
  height: 14px;
  width: 14px;
}
