.container {
    margin: 0 auto 0 auto;
    padding: 0px;
    width: 320px;
    background-color: #fff;
}
 @media screen and (min-width: 768px) {
     .container{
        width: 768px;
     }
 }
  @media screen and (min-width: 1280px) {
      .container{
        width: 1280px;
      }
  }