.link {
  width: 16px;
  max-height: 16px;
  display: inline-block;
}
.link:visited {
  color: initial;
}

.logout {
  width: 16px;
  height: 16px;
  color: var(--text-primary-color);
  fill: currentColor;
}
