.graphic {
  margin: 0 auto;
}

.label {
  font-size: 8px;
  line-height: 9px;

  letter-spacing: 0.02em;

  color: var(--text-primary-color);
}

.labelNumber {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  margin-bottom: 9px;

  color: var(--text-primary-color);
}

.square {
  height: 14px;
  width: 14px;
}

@media screen and (min-width: 768px) {
  .labelNumber {
    font-size: 16px;
  }

  .label {
    font-size: 16px;
  }
}
