.graphic {
  margin: 0 auto;
}

.labelNumber {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  margin-bottom: 9px;
}

.square {
  height: 14px;
  width: 14px;
}

@media screen and (min-width: 768px) {
  .labelNumber {
    font-size: 16px;
  }
}
