.AuthView {
  padding: 40px 0px 34px 0px;
  background-color: var(--background-auth-color);
}

@media screen and (min-width: 768px) {
  .AuthView {
    padding: 80px 0px 70px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .AuthView {
    max-width: 1033px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    width: 100wh;
    background-color: var(--background-auth-color);
  }
}
