.nav {
  display: flex;
  align-items: center;
}

.link {
  color: var(--text-primary-color);
}

@media screen and (min-width: 768px) {
  .tab:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .tab:not(:last-child) {
    margin-right: 80px;
  }

  .link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
