.header {
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: var(--background-primary-color);
  border-bottom: 1px solid var(--header-border-color);
}

.wrapper {
  /* height: 100%; */
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 8px;
}

.themeSwitch {
  margin: 0 10px;
}

@media screen and (max-width: 767px) {
  .nav {
    border-left: 1px solid var(--header-border-color);
  }
  .desktopNavbar {
    display: none;
  }
  .desktopLogout {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 20px 16px 20px 32px;
  }

  .mobileNavbar {
    display: none;
  }
  .desktopLogout {
    position: relative;
    width: 52px;
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    /* border-left: 1px solid var(--header-border-color); */
  }

  .desktopLogout::before {
    width: 1px;
    height: 72px;
    content: '';
    position: absolute;
    left: 0;
    background-color: var(--header-border-color);
  }

  .avatar {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 20px 0 20px 16px;
  }

  .desktopLogout::before {
    width: 1px;
    height: 72px;
    content: '';
    position: absolute;
    left: 0;
    background-color: var(--header-border-color);
  }
}
.nav {
  height: 100%;
  display: flex;
  align-items: center;
}
