.wrapper {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  font-family: 'Montserrat';
  border-radius: 50%;
  font-size: 12px;
  line-height: 1.33;
  box-shadow: var(--user-avatar-shadow);
  letter-spacing: 0.02em;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--text-primary-color);
}
@media screen and (max-width: 767px) {
  .name {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .user {
    margin-right: 8px;
  }
  .wrapper {
    margin-left: 40px;
  }
  .name {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .user {
    margin-right: 20px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .avatar {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .wrapper {
    margin-left: 80px;
  }
}
