 /* bring in normalize.css styles */
 /* .container{
  width: 280px;
  padding: 0 20px;
  margin: 0px auto;
 }
 @media screen and (min-width: 768px) {
   .container {
     width: 650px;
   }}
  @media screen and (min-width: 1280px) {
    .container {
      width: 832px;
    }} */

    html{
      --text-primary-color: #000000;
      --text-secondary-color:#FFFFFF;
      --text-third-color:#555555;
      --text-footer-color:rgba(255, 255, 255, 0.4);
      --line-home:#00122F;
      --background-primary-color: #E5E5E5;
      --background-secondary-color:#FFFFFF;
      --background-footer-color: #02172A;
      --btn-primary-color:#FF6B09;
      --btn-secondary-color:#FFFFFF;
      --btn-third-color:#02172A;
      --shadow: 0px 4px 15px rgba(2, 23, 42, 0.1);
    }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  padding: 0;
}