/* bring in normalize.css styles */
/* .container{
  width: 280px;
  padding: 0 20px;
  margin: 0px auto;
 }
 @media screen and (min-width: 768px) {
   .container {
     width: 650px;
   }}
  @media screen and (min-width: 1280px) {
    .container {
      width: 832px;
    }} */

* {
  box-sizing: border-box;
}

html {
  --text-primary-color: #000000;
  --text-secondary-color: #ffffff;
  --text-third-color: #555555;
  --text-footer-color: rgba(255, 255, 255, 0.4);
  --line-home: #00122f;
  --line-question: rgba(0, 18, 47, 0.15);
  --background-primary-color: #F5F6FB;
  --background-secondary-color: #ffffff;
  --background-auth-color: #f5f6fb;
  --background-footer-color: #02172a;
  --btn-primary-color: #ff6b09;
  --btn-secondary-color: #ffffff;
  --btn-third-color: #02172a;
  --btn-google-color: #fafafa;
  --input-border-color: #ced2d1;
  --disabled-btn-color: #bbbaba;
  --shadow: 0px 4px 15px rgba(2, 23, 42, 0.1);
  --user-avatar-shadow: 0px 1px 1px rgba(18, 29, 46, 0.1);
  --header-bcg-color: #f5f6fb;
  --header-border-color: #e2e3e5;
  --mobile-menu-z-index: 16;
  --header-constant-height: 68px;
  --footer-constant-height: 56px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary-color);
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  padding: 0;
}

/*Active NavLink component stylization*/
a.active {
  position: relative;
}

a.active::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: var(--btn-primary-color);
}
