.wrap {
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  margin: 0 auto;
}

.list {
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  margin-bottom: 30px;
  background-color: var(--text-secondary-color);
  border-radius: 10px;
  width: 280px;
  height: 370px;
  position: relative;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover,
.item:focus {
  transform: scale(1.03);
}

.img {
  width: 280px;
  height: 250px;
}

.info {
  padding: 20px;
}

.title {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 10px;
}

.role {
  font-size: 12px;
  line-height: 12px;
  color: var(--text-third-color);
}

.link {
  position: absolute;
  left: 190px;
  bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkedin {
  margin-right: 10px;
}
.svg {
  fill: var(--social-icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg:hover,
.span:focus {
  fill: var(--btn-primary-color);
  box-shadow: var(--shadow);
}

@media screen and (min-width: 768px) {
  .wrap {
    width: 740px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -30px;
  }

  .item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  .img {
    width: 100%;
  }

  .info {
    padding-right: 28px;
  }
  .link {
    left: 235px;
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    width: 890px;
  }
  .item {
    width: calc(100% / 3 - 30px);
  }
  .link {
    left: 170px;
  }
}
